In [1]:
import numpy  as np
import pandas as pd

In [6]:
matrix = np.array([[1, 2, 3],
                  [ 4, 5, 6],
                  [ 7, 8, 9]])
matrix

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
df = pd.DataFrame(np.random.randn(6, 4), 
                       index=list(range(0, 12, 2)), 
                       columns=list(range(0, 8, 2)))
df

           0         2         4         6
0   0.338412 -0.548521 -0.384773 -0.979216
2  -1.567574 -2.805879 -0.855112  1.226261
4   1.167778 -1.183373 -1.143991  0.813266
6  -1.860495  0.965357 -2.180261  1.071309
8   0.630013 -0.486499 -0.153203 -0.825267
10  0.323316  0.496152 -1.138982  0.530187

In [19]:
df.iloc[1, 3]

1.2262606047305908