In [46]:
import pandas as pd

In [47]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]], columns=["A", "B", "C"])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [48]:
result = df["B"].values[:2]
result

array([2, 5])

In [49]:
result = df.values[[0, 1], 1]
result

array([2, 5])

In [51]:
result = df.iloc[[0, 1], 1]
result

0    2
1    5
Name: B, dtype: int64

In [53]:
result = df.loc[:, "B"][[0, 1]].values
result

array([2, 5])