In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({"id":[np.nan,2,3,4,5],
                   "grade":[np.nan,"b",np.nan,"c",np.nan],
                   "award":[np.nan, "gold", "silver",
                   "bronze", np.nan]})
df

    id grade   award
0  NaN   NaN     NaN
1  2.0     b    gold
2  3.0   NaN  silver
3  4.0     c  bronze
4  5.0   NaN     NaN

In [6]:
# how{‘any’, ‘all’}, default ‘any’
# Determine if row or column is removed from DataFrame,
# when we have at least one NA or all NA.
# ‘any’ : If any NA values are present, drop that row or column.
# ‘all’ : If all values are NA, drop that row or column.
df = df.dropna(how="any")
df

    id grade   award
1  2.0     b    gold
3  4.0     c  bronze